@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");


:root {
    --default-color: #eee;
    --primary-color: #eee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --default-font: Poppins, Roboto;
    --default-border: 1px solid black;
}

* a {
    text-decoration: none;
    color: black;

}

body {
    background: linear-gradient(to top, #f4f4f4 40%, #fee0d0 60%);
}

main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    object-position: center;

}

.navBar {
    width: 100%;
    height: auto;
    position: relative;
}

.logbx {
    display: inline-block;
    position: relative;
    left: 4px;
}

.navlist {
    padding-top: 8px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    list-style: none;
    background-color: #ffd2ba;
    backdrop-filter: blur(3.5px);
}

.navlist li {
    display: inline-block;
    cursor: pointer;
    color: rgb(12, 12, 12);
    font-size: 1rem;
    font-family: var(--default-font);
    font-weight: 400;
    margin-right: 5px;
    transition: transform 0.5s;

}

.navlist li:hover {
    transform: translateY(-3px);
}

.navlist a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist a:hover,
.navlist a:active {
    color: black;
}

.navlist img {
    color: black;
    width: 4vw;
    height: 2.5vh;
    opacity: 70%;
    background-blend-mode: color-burn;
}


header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0px 65px 0px;
}

header img {
    width: 180px;
    height: 180px;
    transform: scale(20%);
    z-index: -1;
    animation: scaleLogo 0.3s 1 linear normal forwards;
}

@keyframes scaleLogo {
    0% {
        transform: scale(20%);
    }

    100% {
        transform: scale(100%);

    }

}

header>h1 {
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 2.8rem;
    line-height: 3.6rem;
    font-weight: 500;
    font-family: var(--default-font);
    color: rgb(74, 48, 13);
    opacity: 50%;
    padding: 0px 2px;
    transform: translateX(-50%);
    animation: slidein 0.5s 1 linear normal forwards;
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
        transform: translateX(0%);
    }
}

header strong {
    animation: fade 1.5s infinite linear normal forwards;
    ;

}


@keyframes fade {
    0% {
        opacity: 100%;
    }

    30% {
        opacity: 100%;
    }

    55% {
        opacity: 50%;
    }

    80% {
        opacity: 70%;
    }

    100% {
        opacity: 100%;
    }

}

/* .nvaExpnd{
    width: 8vw;
    height:6vh;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 2;
    border: 1px solid #000;
    background-color: gray;
    }
    .navMain:hover,.navMain+:active{
    
    width: 40vw;
    height:50vh;
    } */

.prdtctsec {
    width: 100%;
    height: auto;

}


.midsecc {
    width: 100%;
    height: auto;
    transition: background-blend-mode 0.4s ease-in;
}

.BoxGird {
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr)
}

.BoxGird .boximg {
    width: 100%;
    height: 100%;
    transition: background-position 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 90%;
    outline: none;
}

.boximg h2 {
    font-weight: 10;
    font-size: 1.3rem;

}

.imgbox1 {
    grid-column: 1/3;
    background-image: url(assets/bread-6889039_1280.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: black;
    background-blend-mode: hard-light;
    overflow: hidden;
    outline: none;
}

.imgbox3 {
    grid-column: 1/3;
    background-image: url(assets/pastry1.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: black;
    background-blend-mode: hard-light;
    outline: none;
    overflow: hidden;
}

.boximg:hover,
.boximg:active {

    background-blend-mode: normal;
    background-position: center;
}


.expbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
}

.expbox .hr1 {
    width: 100%;
    height: 0px;


}

.expbox .hr2 {
    width: 100%;
    height: 0px;

}


.lowersec {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
}

.lowersec p,
.midsecc p {
    padding: 5px 8px 0px 8px;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 1, 8rem;
    font-weight: 450;
    font-family: var(--default-font);
    color: rgb(150, 149, 149);

}


.lowersec .Lowpdtbx {
    width: 100%;
    height: auto;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-wrap: nowrap;
    justify-items: center;
    align-items: center;
    padding-top: 20px;

}

.Lowpdtbx a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.Lowpdtbx .pdtoubx {
    padding-top: 20px;
    border-radius: 12px;
    width: 42vw;
    height: 25vh;
    background: linear-gradient(rgb(250, 250, 250), rgb(255, 245, 245));
    backdrop-filter: blur(1.5px);

}

.pdtoubx:hover .ptBx,
.pdtoubx:active .ptBx {

    background-blend-mode: normal;
    opacity: 100%;
    transition: background-blend-mode 0.4s ease-in, opacity 0.3s ease-in;
}

.Lowpdtbx .ptBx {
    transform: translate(50%, 21%);
    width: 20vw;
    height: 9vh;
    outline: none;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    background-blend-mode: hard-light;
    opacity: 85%;

}

.ptBx1 {

    background-image: url(assets/cake1.jpg);
    background-size: cover;
    background-position: center;
    outline: none;
    object-fit: cover;
    overflow: hidden;

}

.ptBx2 {
    background-image: url(assets/bread-6889039_1280.jpg);
    background-size: cover;
    background-position: center left;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}

.ptBx3 {
    background-image: url(assets/pastry2.jpg);
    background-size: cover;
    background-position: right center;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}

.ptBx4 {
    background-image: url(assets/pastry1.jpg);

    background-size: cover;
    background-position: center left;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}

.ptBx5 {
    background-image: url(assets/food6.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}

.ptBx6 {
    background-image: url(assets/cookies.jpg);
    background-size: cover;
    background-position: center bottom;
    object-fit: cover;
    outline: none;
    overflow: hidden;
}


.descpdt {
    width: 100%;
    height: auto;
    position: absolute;
    top: 55%;

}

.descpdt h2 {
    font-family: var(--default-font);
    font-size: 0.9rem;
    font-weight: 420;
    line-height: 21px;
}

.descpdt p {
    font-size: 0.8rem;
    font-weight: 380;
    font-family: var(--default-font);
}

.descpdt p:nth-child(3) {
    font-size: 0.9rem;
    font-family: var(--default-font);
    font-weight: 420;
    color: #c99f88;
    transform: translateY(-3px);
}


/* LOWER */
.infosec {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: center;
    padding: 10px 10px 0px 10px;
}

.infosec .seclowlf {
    font-size: 0.8rem;
    width: 50%;
    height: auto;
}

.infosec h2,
.seclowrght h2 {
    font-size: 1rem;
}

.seclowlf .connetion {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 7px 0px 6px 0px;
}

.connetion a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    font-family: var(--default-font);
    font-size: 0.6rem;
}

.connetion p {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.seclowlf img {
    width: 20px;
    height: 20px;
}

.infosec .seclowrght {
    width: 50%;
    height: auto;
    text-align: right;
    display: flex;
    flex-direction: column;


}

.seclowrght .otlinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 7px;
}

.seclowrght p {
    text-decoration: none;
    color: black;
    font-family: var(--default-font);
    font-size: 0.6rem;
}

footer {
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #f4f4f4 5%, #fee0d0 90%);
    backdrop-filter: blur(2px);
}

footer .dts {
    padding: 5px 10px;
    width: 100%;
    height: auto;
}

footer .dts>h2 {
    font-family: var(--default-font);
    font-size: 0.7rem;
    font-weight: 405;
    padding: 3px 0px;
}

footer .dts>p {
    font-weight: 400;
    font-family: var(--default-font);
    font-size: 0.6rem;
}